/*----------Página Contacto----------*/
body{
    background-size:100vw 100vh;
    background-attachment: fixed;
    margin:0;
    font-family: 'Inter', sans-serif;
}

form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    border:solid;
}
h1{
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    font-size:30px;
    letter-spacing: 3px;
    color:red;
    margin-top: 15px;
    margin-bottom:15px;
}
h2{
    color:#000;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom:20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 6px;
    box-sizing: border-box;
    font-size:17px;
    border:solid;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
label{
    color:black;
    text-align:left;
    margin:0;
    font-size: 18px;
    margin-bottom:20px;
    font-weight: bold;
}
.validacionContacto{
    width: 200px;
    text-align: center;
    margin:auto;
    color:red;
    padding-top:20px;
}

#boton{
    background-color: #838eaa;
    color:#fff;
    padding:10px;
    border-radius: 15px;
}
#boton:hover {
    cursor:pointer;
}
/*Media Query - Breakpoints*/
@media screen and (max-width:576px){
    /*Celular*/
    form{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    /*Tablet*/
    form{
        width: 80%;
    }
}
@media screen and (min-width:769px){
    /*Desktop*/
    form{
        width: 40%;
    }
}